# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

NEXMO_API_KEY=''
NEXMO_API_SECRET=''
NEXMO_BRAND_NAME=''
PORT=
# note: .env is a shell file so there can't be spaces around =
